@{
    ViewData["Title"] = "About - Downtown Car Club";
}
<div class="container">
    <div class="row justify-content-center margin-bottom text-center">
        <div class="col-auto">
            <h1 class="font-normal font-xlg">
                <i>
                    DowntownCarClub
                </i>
            </h1>
        </div>
    </div>
    <div class="row justify-content-center margin-bottom text-center">
        <div class="col-auto">
            <p class="font-md">
                Downtown car club is a place to ask questions about cars.
            </p>
        </div>
    </div>
    <div class="row justify-content-center margin-bottom text-center">
        <div class="col-auto">
            <a class="btn btn--m" asp-controller="Question" asp-action="Create">Ask a question</a>
        </div>
    </div>
</div>
