@model DowntownCarClub.Web.Dtos.IndexPageDto
@{
    ViewData["Title"] = "Welcome to Downtown Car Club";
}
<div class="container">
    <div class="row justify-content-end margin-bottom  no-gutters">
        <div class="col no-gutters">
            <a class="btn btn--m ml-auto" asp-controller="Question" asp-action="Create">Ask a question</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-4">
            <div class="row margin-bottom">
                <div class="col">
                    @await Component.InvokeAsync("UserCard")
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-8">
            @if (Model.Questions.Count == 0)
            {
                <p>No questions asked yet.</p>
            }
            @foreach (var question in Model.Questions)
            {
                <div class="row margin-bottom">
                    <div class="col">
                        <partial name="_question" model="@question" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
