<div class="container footer margin-top-2 font-xsm">
    <div class="row justify-content-start margin-bottom">
        <div class="col-auto">
            <a asp-controller="Index" asp-action="About">
                About
            </a>
        </div>
        <div class="col-auto">
            <a asp-controller="Question" asp-action="Create">
                Ask a question
            </a>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col">
            <span>
                Donate Bitcoin
            </span>
        </div>

    </div>
    <div class="row justify-content-start">
        <div class="col">
            <span>
                3CJY9ndxRqhVLBFKbHjv6TfVGjxyjDVBeN
            </span>
        </div>
    </div>
</div>
